<h1 id="title">The Environmental Refugee Project</h1>
<h2>By 2020, 50 million people will be displaced because of a drastic change in their environment. </h2>
<h2> If you are an Environmental Refugee and would like to share your story, or know of someone who has a story to tell, please contact <%= mail_to "lindseyevejacobson@gmail.com" %>.</h2>
<div id="map-canvas"></div>
<%= Location.all.inspect %>
