<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand page-scroll" id="home-button" href="#">
      <i class="fa fa-play-circle"></i>  The Climate Migrant Project
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <li>
        <a class="page-scroll" href="#" data-target="about-content">Learn</a>
      </li>
      <li>
        <a class="page-scroll" href="#" data-target="map-content">See the Map</a>
      </li>
      <li>
        <a class="page-scroll" href="#" data-target="contact-content">Get Involved</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div id="home-content" class="content-block active">
  <h1 id="title">The Climate Migrant Project</h1>
  <h2>We’re working hard to understand Climate Migration and help those in need. Join the movement:</h2>
</div>

<div id="about-content" class="content-block">
  <h3>By 2020, 50 million people will be displaced because of a drastic change in their environment. ClimateMigrants.com is building a movement to track and assist these people. We believe that with preparation and organization, Climate Migration can become an opportunity for cross cultural exploration and problem solving, instead of disaster relief.

ClimateMigrants.com seeks to add a human face to the affects of Climate Change. By tracking and researching the causes and effects of Climate Migration, ClimateMigrants.com will provide a tool to help policy makers, educatiors and global citizens better understand and prepare for drastic changes.

ClimateMigrants.com scours the internet for visual and personal stories of climate migrants. Our first step is to track and catalogue all of the existing research. Next, we will start generating new stories and filling in the current holes in the research.
 </h3>
</div>

<div id="map-content" class="content-block">
  <div id="map-canvas"></div>
</div>


<div id="contact-content" class="content-block">
  <h3> ClimateMigrants.com seeks to help define the role of Climate migration within the larger conversation about Refugees, International Displacement, and Economic Migrants. While these categories are helpful, they are not all inclusive. We need to open the conversation up to include people affected by natural disasters and Climate Change within their country of origin and outside of it. We understand that a multi-pronged approach to this issue will be the most effective, and want to help people make an impact on this issue. Here are a few ways you can get involved with the movement overall. On the map you will find ways to specifically help communities affected by Climate Change.
    If you have been displaced because of a change in your environment and would like to share your story, or know of someone who has a story to tell, please contact <%= mail_to "lindsey@climatemigrants.com" %>.</h3>
</div>
