<%= render partial: "nav" %>
<div id="home-content" class="content-block active">
  <h1 id="title">The Climate Migrant Project</h1>
  <h2>We’re working hard to understand Climate Migration and help those in need. Email lindseyevejacobson@gmail.com to join the movement.</h2>
</div>

<div id="about-content" class="content-block">
<<<<<<< HEAD
  <h3>By 2020, 50 million people will be displaced because of a drastic change in their environment. ClimateMigrants.com is building a movement to track and assist these people. We believe that with preparation and organization, Climate Migration can become an opportunity for cross cultural exploration and problem solving, alongside of disaster relief.

ClimateMigrants.com scours the internet for visual and personal stories of climate migrants. Our first step is to track and catalogue all of the existing research. Next, we will start generating new stories and filling in the current holes in the research.
=======
  <h3>By 2020, 50 million people will be displaced because of a drastic change in their environment. ClimateMigrants.com is building a movement to track and assist these people. We believe that with preparation and organization, Climate Migration can become an opportunity for cross cultural exploration and problem solving, instead of disaster relief.
      ClimateMigrants.com seeks to add a human face to the affects of Climate Change. By tracking and researching the causes and effects of Climate Migration, ClimateMigrants.com will provide a tool to help policy makers, educatiors and global citizens better understand and prepare for drastic changes.
      ClimateMigrants.com scours the internet for visual and personal stories of climate migrants. Our first step is to track and catalogue all of the existing research. Next, we will start generating new stories and filling in the current holes in the research.
>>>>>>> bcf77a28f83700e29397f7a69cb2b714920d4fb4
 </h3>
</div>

<div id="map-content" class="content-block">
  <div id="map-canvas"></div>
  <div id="map-overlay">
    <div id="disaster-content-box">
      <div id="inner-dcb">

      </div>
    </div>
  </div>
  <%= render partial: "disaster_content" %>
</div>


<div id="contact-content" class="content-block">
  <h3> ClimateMigrants.com seeks to help define the role of Climate migration within the larger conversation about Refugees, International Displacement, and Economic Migrants. While these categories are helpful, they are not all inclusive. We need to open the conversation up to include people affected by natural disasters and Climate Change within their country of origin and outside of it. To share your story or get involved, contact <%= mail_to "lindseyevejacobson@gmail.com" %>.</h3>
</div>
