// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', sans-serif;
}
h1, h2 {
  color: white;
  text-align: center;
  letter-spacing: -.03em;
}
.container{
  padding-top: 5%
}

.about {
  background-color: red;
}

#map-canvas{
  width: 1200px; height: 800px;
  margin: 0 auto;
  display: block;
}
.infowindow{
  width:600px;
  height:400px;
}
.infowindow h1 {color: black;}
.video-container {text-align: center;}
