body {
  background: url(sandy.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2 { color: white; text-align: center; letter-spacing: -.03em;}
.container{ padding: 0; margin: 0; width: 100%;}
.content-block { display: none; padding: 150px 5% 0 5%;}
.content-block.active { display: block;}



#home-content{
  padding: 150px 5% 0 5%;
  #title {font-size: 60px;}
}


#map-content{
  padding: 0;
  #map-canvas{
    width: 100%;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: -o-calc(100vh - 50px);
    height: calc(100vh - 50px);

    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }

  #map-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(222,222,222,.8);
    position: absolute;
    top: 0;
  }

  #disaster-content-box{
    h1,h2,h3, p {color: black; margin: 0;}
    width: 90%; background-color: white; position: absolute; top: 60px;
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);

    margin: 0 auto; left: 0; right: 0;
    overflow: scroll;
  }

  #close-overlay{
    position: absolute; right: 10px; top: 0px;font-size: 26px; color: black;
    &:hover, &:active {text-decoration: none;}
  }

  &.overlay{
    #map-overlay { display: block;}
  }
}
