<!DOCTYPE html>
<html>
<head>
  <title>The Environmental Refugee Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAukBW7jmHr0167iucjcRdO0Q88bu7HxZM"> </script>

</head>
<body>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
